HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
/frontend/bizNumberCheck/node_modules


# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini


/api/src/main/resources/application-secret.properties


*.log
*.tmp
*.swp
*.swo


*.db
*.sqlite3
*.h2.db
*.env
*.bak

npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/
.env.local
.env.development
.env.production

.env.*

.idea/
.vscode/
.DS_Store
Thumbs.db
desktop.ini


/frontend/bizNumberCheck/node_modules/
/frontend/bizNumberCheck/dist/
/frontend/bizNumberCheck/build/

/api/src/main/resources/application-secret.properties


